---
layout: default
nav: index
---
<div id="intro" class="blue-section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h1>Our Services</h1>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="nav-icons col-sm-4 col-md-2 col-md-push-1 text-center">
        <div class="icon-item">
          <a href="#security" class="scroll">
            <i class="circle-icon circle-lock-icon fa fa-lock"></i>
            <h4>
              Cybersecurity
            </h4>
            <div>Vulnerability Analysis and Penetration Testing</div>
          </a>
        </div>
      </div>
      <div class="nav-icons col-sm-4 col-md-2 col-md-push-1 text-center">
        <div class="icon-item">
          <a href="#mobile" class="scroll">
            <i class="circle-icon circle-mobile-icon fa fa-mobile"></i>
            <h4>
              Mobile
            </h4>
            <div>Professional mobile app development</div>
          </a>
        </div>
      </div>
      <div class="nav-icons col-sm-4 col-md-2 col-md-push-1 text-center">
        <div class="icon-item">
          <a href="#web" class="scroll">
            <i class="circle-icon circle-web-icon fa fa-globe"></i>
            <h4>
              Web
            </h4>
            <div>Web development</div>
          </a>
        </div>
      </div>
      <div class="nav-icons col-sm-4 col-md-2 col-md-push-1 text-center">
        <div class="icon-item">
          <a href="#games" class="scroll">
            <i class="circle-icon circle-game-icon fa fa-gamepad"></i>
            <h4>
              Game Development
            </h4>
            <div>2D and 3D Game Development</div>
          </a>
        </div>
      </div>
      <div class="nav-icons col-sm-4 col-md-2 col-md-push-1 text-center">
        <div class="icon-item">
          <a href="#database" class="scroll">
            <i class="circle-icon circle-database-icon fa fa-database"></i>
            <h4>
              Data Mining
            </h4>
            <div>Database Design, Development, and Data Mining</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="callout-security">
  <div class="vert-text">
    <p class="huge">Security is a team effort</p>
  </div>
</div>

<div id="security" class="blue-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 text-center">
        <h2>Security Analysis and Penetration Testing</h2>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="row text-center">
          <h4>Security Analysis</h4>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-7">Our team is trained in the use of state-of-the-art security profiling, vulnerability analysis, and penetration testing tools. Our team will analyze your systems, identify any security concerns, and provide detailed reports on how to fix these issues.</div>
          <ul class="col-xs-5 breakdown-bullets">
            <li>Vulnerability Scanning and Analysis</li>
            <li>Security Testing and Reports</li>
            <li>Source code review</li>
          </ul>
        </div>

        <div class="row text-center">
          <h4>Penetration Testing</h4>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-7">Our team understands the techniques that hackers will use to gain access to your systems, potentially destroying or leaking your sensitive data. Our team will find these holes, and help you patch them before it ever becomes a problem.</div>
          <ul class="col-xs-5 breakdown-bullets">
            <li>Service exploitation</li>
            <li>SQL Injection</li>
            <li>Remote access</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6">
        <img src="{{ "/assets/images/cyber.jpg" | prepend: site.baseurl }}" alt="Secure your system" height="367" width="560" class="rounded"/>
      </div>
    </div>
  </div>
</div>

<div class="mobile-cutout-bg">
  <div class="vert-text">
    <p class="huge">Mobility to move forward</p>
  </div>
</div>

<div id="mobile" class="blue-section">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center">
            <h2>Mobile App Development</h2>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 col-sm-offset-2 col-md-2 col-md-offset-2 text-center">
            <div class="icon-item">
              <i class="giant-icon fa fa-android"></i>
              <h4>
                Android<br>
                <small></small>
              </h4>
            </div>
          </div>
          <div class="col-sm-4 col-md-2 text-center">
            <div class="icon-item">
              <i class="giant-icon fa fa-apple"></i>
              <h4>
                iOS<br>
                <small>iPhone, iPad</small>
              </h4>
            </div>
          </div>
          <div class="col-sm-4 col-sm-offset-2 col-md-2 col-md-offset-0 text-center">
            <div class="icon-item">
              <i class="giant-icon fa fa-windows"></i>
              <h4>
                Windows Phone<br>
                <small></small>
              </h4>
            </div>
          </div>
          <div class="col-sm-4 col-md-2 text-center">
            <div class="icon-item">
              <i class="giant-icon fa fa-mobile"></i>
              <h4>
                BlackBerry<br>
                <small></small>
              </h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 hidden-sm hidden-xs phone"></div>
    </div>
  </div>
</div>

<!--
<div class="gray-section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <q>
          <big>You guys are the best!</big>
          <cite>Someone Special</cite>
        </q>
      </div>
    </div>
  </div>
</div>
-->

<div class="gray-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 text-center">
        <h2>Developed Apps</h2>
        <hr>
      </div>
    </div>
    <div id="app-slides-nav" class="row">
      {% for project in site.data.app_projects %}
      <div class="col-sm-6 col-md-3 text-center" style="min-height: 200px;">
        <div class="nav-item">
          <img src="{{ project.thumb | prepend: site.baseurl }}" alt="{{ project.title }}" style="padding: 5px 0; max-height: 144px; {{ project.thumb_style }}" />
          <h4>{{ project.title }}</h4>
        </div>
      </div>
      {% endfor %}
    </div><!-- /.row -->
    <div class="row">
      <div id="app-slides" class="flexslider">
        <ul class="slides">
          {% for project in site.data.app_projects %}
          <li>
            <div class="col-sm-12 col-md-8 text-center">
              <a href="{{ project.link }}" target="_blank">
                <img src="{{ project.img | prepend: site.baseurl }}">
              </a>
            </div>
            <div class="col-sm-12 col-md-4 text-center">
              <a href="{{ project.link }}" target="_blank">
                <h4>{{ project.title }}</h4>
              </a>
              {% if project.android != "" %}
              <a href="{{ project.android }}" target="_blank"><i class="download-icon fa fa-android"></i></a>
              {% endif %}
              {% if project.ios != "" %}
              <a href="{{ project.ios }}" target="_blank"><i class="download-icon fa fa-apple"></i></a>
              {% endif %}
              {% if project.windows != "" %}
              <a href="{{ project.windows }}" target="_blank"><i class="download-icon fa fa-windows"></i></a>
              {% endif %}
              <p>
                {{ project.description }}
              </p>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div><!-- /.row -->
  </div>
</div>

<!-- <div class="web-cutout-bg"> -->
<div class="callout-2">
  <div class="vert-text">
    <p class="huge">Stay one-step ahead of the competition</p>
  </div>
</div>

<div id="web" class="blue-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 text-center">
        <h2>Web Development</h2>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 text-center">
        <div class="icon-item">
          <h4>Graphics &amp; Design</h4>
        </div>
        <ul>
          <li>Graphics and Logo design</li>
          <li>Responsive Design</li>
        </ul>
      </div>
      <div class="col-sm-4 text-center">
        <div class="icon-item">
          <h4>Development</h4>
        </div>
        <ul>
          <li>E-Commerce Portals</li>
          <li>API Development</li>
          <li>Social Integration</li>
        </ul>
      </div>
      <div class="col-sm-4 text-center">
        <div class="icon-item">
          <h4>Performance &amp; Maintainence</h4>
        </div>
        <ul>
          <li>Search Engine Optimization (SEO)</li>
          <li>Web Analytics</li>
          <li>Web Security</li>
          <li>Performance and Caching</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4 text-center">
        <h3>Content Management</h3>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-2 text-center">
        <div class="icon-item">
          <img class="img-responsive" src="{{ "/assets/images/drupal.png" | prepend: site.baseurl }}" alt="Drupal" height="144" width="144" />
          <h4>Drupal</h4>
        </div>
      </div>
      <div class="col-sm-2 text-center">
        <div class="icon-item">
          <img class="img-responsive" src="{{ "/assets/images/wordpress.png" | prepend: site.baseurl }}" alt="Wordpress" height="144" width="144" />
          <h4>Wordpress</h4>
        </div>
      </div>
      <div class="col-sm-2 text-center">
        <div class="icon-item">
          <img class="img-responsive" src="{{ "/assets/images/joomla.png" | prepend: site.baseurl }}" alt="Joomla" height="144" width="144" />
          <h4>Joomla</h4>
        </div>
      </div>
      <div class="col-sm-2 text-center">
        <div class="icon-item">
          <img class="img-responsive" src="{{ "/assets/images/globe.png" | prepend: site.baseurl }}" alt="Custom" height="144" width="144" />
          <h4>Custom Design</h4>
        </div>
      </div>
    </div>

  </div>
</div>

<!--
<div class="gray-section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <q>
          <big>A nice quote fr
          om someone special.</big>
          <cite>Someone Special</cite>
        </q>
      </div>
    </div>
  </div>
</div>
-->

<div class="gray-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 text-center">
        <h2>Developed Sites</h2>
        <hr>
      </div>
    </div>
    <div id="web-slides-nav" class="row">
      {% for project in site.data.web_projects %}
      <div class="col-sm-6 col-md-3 text-center" style="min-height: 200px;">
        <div class="nav-item">
          <img src="{{ project.thumb | prepend: site.baseurl }}" alt="{{ project.title }}" style="padding: 5px 0; max-height: 144px; {{ project.thumb_style }}" />
          <h4>{{ project.title }}</h4>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row">
      <div id="web-slides" class="flexslider">
        <ul class="slides">
          {% for project in site.data.web_projects %}
          <li>
            <div class="col-sm-12 col-md-8 text-center">
              <a href="{{ project.link }}" target="_blank">
                <img src="{{ project.img | prepend: site.baseurl }}">
              </a>
            </div>
            <div class="col-sm-12 col-md-4 text-center">
              <a href="{{ project.link }}" target="_blank">
                <h4>{{ project.title }}</h4>
              </a>
              <p>
                {{ project.description }}
              </p>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="drawing-viewport" class="paper-callout">
  <canvas id="drawing" height="400"></canvas>
  <div class="vert-text">
    <p class="huge">Maximize User Engagement and Enjoyment</p>
  </div>
</div>
<script>
function getRandomInt(min, max) {
  return Math.floor(Math.random() * (max - min + 1)) + min;
}

var canvas = document.getElementById('drawing');
var viewport = document.getElementById('drawing-viewport');
var ctx = canvas.getContext('2d');

ctx.lineWidth = 1;
ctx.lineJoin = ctx.lineCap = 'round';
// ctx.strokeStyle = 'purple';


var isDrawing, lastPoint;

// canvas.onmousedown = function(e) {
//   isDrawing = true;
//   lastPoint = { x: e.clientX, y: e.clientY };
// };

// canvas.onmouseup = function() {
//   isDrawing = false;
// };

var canvas_location = viewport.getBoundingClientRect();

viewport.onmousemove = function(e) {
  var newPoint = { x: e.layerX, y: e.layerY };
  if (!isDrawing){
    isDrawing = true;
    lastPoint = newPoint;
  };
  ctx.beginPath();
  ctx.strokeStyle = 'rgba(0,0,0,.25)';
  
  ctx.moveTo(lastPoint.x - getRandomInt(0, 2), lastPoint.y - getRandomInt(0, 2));
  ctx.lineTo(newPoint.x - getRandomInt(0, 2), newPoint.y - getRandomInt(0, 2));
  ctx.stroke();
  
  ctx.moveTo(lastPoint.x, lastPoint.y);
  ctx.lineTo(newPoint.x, newPoint.y);
  ctx.stroke();
  
  ctx.moveTo(lastPoint.x + getRandomInt(0, 2), lastPoint.y + getRandomInt(0, 2));
  ctx.lineTo(newPoint.x + getRandomInt(0, 2), newPoint.y + getRandomInt(0, 2));
  ctx.stroke();
    
  lastPoint = newPoint;
};

// resize the canvas to fill browser window dynamically
window.addEventListener('resize', resizeCanvas, false);

function resizeCanvas() {
  canvas.width = window.innerWidth;
  //canvas.height = window.innerHeight;
}
resizeCanvas();

</script>



<div id="games" class="blue-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 text-center">
        <h2>Game Development</h2>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="row text-center">
          <h4>2D Technologies</h4>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-7">Design interactive games using sharp, fast and efficient 2D technologies that can adjust to any screen size. Develop graphics for mobile games/apps.</div>
          <ul class="col-xs-5 breakdown-bullets">
            <li>SVG and HTML5</li>
            <li>HTML5 Canvas</li>
            <li>Flash</li>
          </ul>
        </div>
      </div>
      <!-- <div class="col-sm-4 text-center">
        <div class="icon-item">
          <h4>Gamification</h4>
        </div>
        <br>
        <ul>
          <li>Apply game mechanics to your products to drive user engagement.</li>
          <li>Design educational games that facilitate learning.</li>
        </ul>
      </div> -->
      <div class="col-sm-6">
        <div class="row text-center">
          <h4>3D Technologies</h4>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-7">Immersive 3D graphics allow the user to jump in, and get a realworld perspective.</div>
          <ul class="col-xs-5 breakdown-bullets">
            <li>Unity</li>
            <li>Canvas + WebGL using Three.js</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="gray-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h3>Leverage Modern Graphics Technologies</h3>
        <hr>
      </div>
    </div>
    <div class="row">
    <div class="col-lg-2 col-sm-4 text-center">
      <div class="icon-item">
          <img class="img-responsive" src="{{ "/assets/images/svg.png" | prepend: site.baseurl }}" alt="SVG" height="144" width="144" />
          <h4>SVG</h4>
        </div>
      </div>
      <div class="col-lg-2 col-sm-4 text-center">
        <div class="icon-item">
          <img class="img-responsive" src="{{ "/assets/images/canvas.png" | prepend: site.baseurl }}" alt="Canvas" height="144" width="144" />
          <h4>Canvas</h4>
        </div>
      </div>
      <div class="col-lg-2 col-sm-4 text-center">
        <div class="icon-item">
          <img class="img-responsive" src="{{ "/assets/images/html5.png" | prepend: site.baseurl }}" alt="HTML5" height="144" width="144" />
          <h4>HTML5</h4>
        </div>
      </div>
      <div class="col-lg-2 col-sm-4 text-center">
        <div class="icon-item">
          <img class="img-responsive" src="{{ "/assets/images/css3.png" | prepend: site.baseurl }}" alt="CSS3" height="144" width="144" />
          <h4>CSS3</h4>
        </div>
      </div>
      <div class="col-lg-2 col-sm-4 text-center">
        <div class="icon-item">
          <img class="img-responsive" src="{{ "/assets/images/Flash.png" | prepend: site.baseurl }}" alt="Flash" height="144" width="144" />
          <h4>Flash</h4>
        </div>
      </div>
      <div class="col-lg-2 col-sm-4 text-center">
        <div class="icon-item">
          <img class="img-responsive" src="{{ "/assets/images/unity.png" | prepend: site.baseurl }}" alt="Unity" height="144" width="144" />
          <h4>Unity</h4>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="callout-data">
  <div class="vert-text">
    <p class="huge">Bring your data to life</p>
  </div>
</div>

<div id="database" class="blue-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 text-center">
        <h2>Data Mining</h2>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="row text-center">
          <i class="medium-icon fa fa-database"></i>
          <h4>Database Design &amp; Development</h4>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-6">
            Our team is adept at developing thorough and efficient database schemas that meet your specific needs.
          </div>
          <ul class="col-xs-6 breakdown-bullets">
            <li>Capture and store your valuable data.</li>
            <li>Facilitate efficient storage and retrieval.</li>
            <li>Secure designs that protect your data and users.</li>
            <li>Easily track users, inventory, employees, etc.</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="row text-center">
          <i class="medium-icon fa fa-table"></i>
          <h4>Data Mining &amp; Analysis</h4>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-6">
          Represent your data in new ways that make it easier to understand. Gain new understanding of your information through data extraction and analysis techniques.
          </div>
          <ul class="col-xs-6 breakdown-bullets">
            <li>Restructure your data into easily accessible views.</li>
            <li>Extract patterns and features from your data.</li>
            <li>Plot graphs and analyze statistics.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="gray-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h3>Professional Database Technology</h3>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-2 col-sm-offset-1 text-center">
        <div class="icon-item">
          <img class="img-responsive" src="{{ "/assets/images/mysql.png" | prepend: site.baseurl }}" alt="MySQL" height="144" width="144" />
        </div>
      </div>
      <div class="col-xs-12 col-sm-2 text-center">
        <div class="icon-item">
          <img class="img-responsive" src="{{ "/assets/images/postgresql.png" | prepend: site.baseurl }}" alt="PostgreSQL" height="144" width="144" />
        </div>
      </div>
      <div class="col-xs-12 col-sm-2 text-center">
        <div class="icon-item">
          <img class="img-responsive" src="{{ "/assets/images/mssql.png" | prepend: site.baseurl }}" alt="Microsoft SQL" height="144" width="144" />
        </div>
      </div>
      <div class="col-xs-12 col-sm-2 text-center">
        <div class="icon-item">
          <img class="img-responsive" src="{{ "/assets/images/filemaker.png" | prepend: site.baseurl }}" alt="Filemaker Pro" height="144" width="144" />
          <h4>Filemaker Pro</h4>
        </div>
      </div>
      <div class="col-xs-12 col-sm-2 text-center">
        <div class="icon-item">
          <img class="img-responsive" src="{{ "/assets/images/access.png" | prepend: site.baseurl }}" alt="Microsoft Access" height="144" width="144" />
          <h4>Microsoft Access</h4>
        </div>
      </div>
    </div>
  </div>
</div>

{% include index/map.html %}

<div id="meet_us" class="gray-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h2>
          About Us<br>
          <small> Trustworthy &amp; Affordable Software Services</small>
        </h2>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-justify">
        TASS has a skilled team of developers who develop various types of Mobile Apps including iPhone (iOS), Android phones, Windows phone, iPad, etc. apps. We develop Cyber portals, databases, learning games, animations, virtual labs, and various kinds of software. TASS team members are professional and offer very competitive price. Most of the TASS developers have earned an advanced degree (MS or Ph.D.) in Computer Science, Software Engineering, or Data Mining and equipped with cutting-edge tools and technologies.
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-4 col-md-offset-4 text-center">
        <h4>Meet the team</h4>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12 text-center">
        {% include index/members.html %}
      </div>
    </div>
  </div>
</div>

<div id="our_client" class="blue-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h2>
          Our Clients
        </h2>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <ul class="clients">
          <li>
            <a target="_blank" href="https://www.dol.gov/"><img src="{{ "/assets/images/DOL.png" | prepend: site.baseurl }}" alt="US Department of Labor" class="rounded"/></a>
          </li>
          <li>
            <a target="_blank" href="http://www.usda.gov/wps/portal/usda/usdahome"><img src="{{ "/assets/images/USDA.png" | prepend: site.baseurl }}" alt="US Department of Agriculture" class="rounded"/></a>
          </li>
          <li>
            <a target="_blank" href="http://www.nsf.gov/"><img src="{{ "/assets/images/NSF.png" | prepend: site.baseurl }}" alt="National Science Foundation" class="rounded"/></a>
          </li>
          <li>
            <a target="_blank" href="http://www.steinwall.com/"><img src="{{ "/assets/images/steinwall.png" | prepend: site.baseurl }}" alt="Steinwall" class="rounded"/></a>
          </li>
          <li>
            <a target="_blank" href="http://www.worldbank.org/"><img src="{{ "/assets/images/world-bank.png" | prepend: site.baseurl }}" alt="World Bank" class="rounded"/></a>
          </li>
          <li>
            <a target="_blank" href="http://hdoa.hawaii.gov/"><img src="{{ "/assets/images/HDOA.jpg" | prepend: site.baseurl }}" alt="Hawaii Department of Agriculture" class="rounded"/></a>
          </li>
          <li>
            <a target="_blank" href="http://www.yodify.com/"><img src="{{ "/assets/images/yodify.jpg" | prepend: site.baseurl }}" alt="Yodify" class="rounded"/></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="contact" class="white-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 text-center">
        <h2>Contact Us</h2>
        <hr>
      </div>
      <a href="https://www.facebook.com/tassUSA" target="_blank">
        <i class="fa fa-facebook-official" style="color: rgb(60, 90, 152); font-size: 4em;"></i>
      </a>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="row text-center">
          <div class="col-xs-4">
            <strong>Phone:</strong><br>
             808-747-4642<br>
          </div>
          <div class="col-xs-4">
            <strong>Email:</strong><br>
             <a href="mailto:ZinatUSA@gmail.com">ZinatUSA@gmail.com</a><br>
          </div>
          <div class="col-xs-4">
            <strong>Address:</strong><br>
            <a href="https://www.google.com/maps?q=137+West+Puainako+St.+Hilo,+HI+96720,+USA&ion=1&espv=2&bav=on.2,or.&bvm=bv.90491159,d.dGY&biw=1572&bih=710&dpr=1.1&um=1&ie=UTF-8&sa=X&ei=SfUqVYaqLMa2mwWA7YDgBQ&ved=0CAYQ_AUoAQ" target="_blank">
            137 West Puainako St.<br>
            Hilo, HI 96720, USA
            </a>
          </div>
        </div>
<!--         <div class="row text-center">
          <a href="{{ "contact" | prepend: site.baseurl }}" class="btn btn-success btn-lg" role="button">Contact Form</a>
        </div>
        <br>
        <div class="row">
                  </div> -->
<!--           <form method="post" action="" id="contact_form">
            <p>
              <label for="name">Name *</label><br>
              <input type="text" name="name" value="" keyev="true" style=""><br>
            </p>
            <p>
            <label for="email">E-mail *</label><br>
            <input type="text" name="email" value=""><br>
            </p>
            <p>
            <label for="message">Message *</label><br>
            <textarea name="message" cols="50" rows="4"></textarea><br>
            </p>
            <input type="submit" name="submit" class="btn btn-large btn-inverse form-btn" value="SEND MESSAGE"><br>
          </form>
        </div>-->
      </div>
    </div>
  </div>
</div>
