<footer class="site-footer" role="contentinfo">
	<div class="container">
		<div class="row">
			<div class="fcred col-sm-6">
				Copyright &copy; 2015, <a href="{{ site.url }}">{{ site.title }}</a>. Contact us at <a href="mailto:{{ site.email }}">{{ site.email }}</a>.
				<!-- Last deploy {{ site.time | date: '%Y' }} -->
			</div>
			<div class="fcred col-sm-6">
				<div class="trigger">
					{% for page in site.pages %}
						{% if page.title %}
						<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</footer>
{% for script in site.data.scripts %}
	<script crossorigin="anonymous" src="{{script.url | prepend: "/assets/js/"| prepend: site.baseurl }}" type="text/javascript"></script>
{% endfor %}