<nav id="navbar" class="navbar-inverse" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			{% if page.nav == "index" %}
			<a class="navbar-brand scroll" href="#home">TASS USA</a>
			{% else %}
			<a class="navbar-brand" href="{{ "/" | prepend: site.baseurl }}">TASS USA</a>
			{% endif %}
			<!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div id="main-nav" class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
			{% if page.nav == "index" %}
			{% for nav in site.data.index_nav %}
				<li><a href="#{{ nav.id }}" class="scroll">{{ nav.label }}</a></li>
			{% endfor %}
			{% else %}
				<li><a href="{{ "/" | prepend: site.baseurl }}"><i class="fa fa-arrow-left"></i> Go back to home screen</a></li>
			{% endif %}
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container -->
</nav>
<header id="masthead" class="site-header header-bg" role="banner">
	<div class="container">
		<div class="row">
			<div id="logo" class="site-branding col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
				<div id="site-logo-big"><!-- class="hidden-xs" -->
					<img class="img-responsive" src="{{ "/assets/images/header-2.0.png" | prepend: site.baseurl }}" alt="{{ site.title }}" />
				</div>
				<!-- <div id="site-logo-small" class="visible-xs">
					<img class="img-responsive" src="{{ "/assets/images/TASS-cellphone-small.png" | prepend: site.baseurl }}" alt="Home" />
				</div> -->
				<h1 id="site-title">
					<a href="{{ site.url }}" title="Home">{{ site.title }}</a>
				</h1>
			</div>
		</div>
	</div>
</header>
